version: "{{ docker_compose_version }}"
services:
  homer:
    container_name: {{ containers.homer.name }}
    image: {{ containers.homer.image }}
    #To build from source, comment previous line and uncomment below
    #build: .
    container_name: homer
    volumes:
      - /your/local/assets/:/www/assets
    ports:
      - 8080:8080
    user: 1000:1000 # default
    environment:
      - INIT_ASSETS=1 # default