version: "{{ docker_compose_version }}"

services:
  microbin:
    container_name: {{ containers.microbin.name }}
    image: {{ containers.microbin.image }}
    volumes:
      - {{ docker_volume_dir }}/{{ containers.microbin.name }}:/app
    labels:
      - traefik.enable=true
      - traefik.http.routers.microbin.tls=true
      - traefik.http.routers.microbin.tls.certresolver=cloudflare
      - traefik.http.routers.microbin.rule=host(`{{ containers.microbin.name }}.{{ local_subdomain }}`)
      - traefik.http.routers.microbin.entrypoints=websecure
      - traefik.http.services.microbin.loadbalancer.server.port=8080
    networks:
      - {{ containers.traefik.network }}
    restart: unless-stopped

networks:
  {{ containers.traefik.network }}:
    external: true
